**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.DS_Store
*.zip
.venv/
.creds/credentials.json
.creds/token.json
.creds/.env
*.egg-info/
personalplanner.egg-info/
resume_customization/build/main.aux
resume_customization/build/main.fdb_latexmk
resume_customization/build/main.fls
resume_customization/build/main.log
resume_customization/build/main.pdf